//Global class

.fixed {
  position: fixed;
  top: 0;
  z-index: 3;
  -webkit-animation: swingY .3s ease-in-out;
  animation: swingY .3s ease-in-out;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  background-color: #4FC3F7;

  h2 {
   // color: #9C27B0;
  }
}

.hidden {
  visibility: hidden;
}

.visible {
  visibility: visible;
}
